a.anchor {
  float: left;
  height: 100%;
  margin-left: -24px;
  line-height: 1;
  padding-right: 4px;
}

a.anchor > svg {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
}

h1:hover > a.anchor > svg,
h2:hover > a.anchor > svg,
h3:hover > a.anchor > svg,
h4:hover > a.anchor > svg,
h5:hover > a.anchor > svg,
h6:hover > a.anchor > svg {
  visibility: visible;
}
