@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400&family=Inter&family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item-heading {
    @apply mb-4 text-2xl font-semibold;
    position: relative;
  }

  a .item-heading {
    @apply text-indigo-600 transition-colors;
  }

  a:hover .item-heading {
    @apply text-black;
  }

  a.active {
    @apply bg-indigo-600 text-white;

    border-radius: 9999px;
  }

  a.active:hover {
    text-decoration: none;
  }

  .article {
    @apply leading-relaxed;
  }

  .article a {
    @apply text-indigo-600;
  }

  .article a:hover {
    text-decoration: underline;
  }

  .article strong {
    @apply font-semibold;
  }

  .article h2 {
    @apply mt-12 mb-4 text-3xl sm:text-4xl font-semibold text-indigo-600;
  }

  .article h3 {
    @apply mt-10 mb-4 text-2xl font-semibold text-indigo-600;
  }

  .article .anchor.before {
    position: absolute;
  }

  .article h2 > .anchor.before, .article h3 > .anchor.before {
    @apply -ml-4 w-4;
  }

  .article h2 > .anchor.before {
    top: 11px;
  }

  .article h3 > .anchor.before {
    top: 9px;
  }

  @screen sm {
    .article h2 > .anchor.before {
      @apply w-6 -ml-7;
      top: 9px;
    }

    .article h3 > .anchor.before {
      @apply w-5 -ml-6;
      top: 6px;
    }
  }

  .article .anchor.before > svg {
    visibility: hidden;
  }

  .article h2:hover > .anchor.before > svg, .article h3:hover > .anchor.before > svg, .article .anchor.before:hover > svg {
    visibility: visible;
  }

  .article .anchor.before > svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .article p, .article li {
    @apply text-lg;
  }

  .article p {
    @apply my-4;
  }

  .article ul, .article ol {
    @apply ml-8;
  }

  .article ul {
    list-style-type: disc;
  }

  .article li > ul {
    list-style-type: circle;
  }

  .article ol {
    list-style-type: decimal;
  }

  .article ul > li, .article ol > li {
    @apply my-2;
  }

  .article blockquote {
    @apply my-6 sm:ml-3 pl-3 border-l-2 border-gray-200 text-gray-700 italic;
  }

  .article blockquote p {
    @apply text-xl;
  }

  .article code {
    @apply bg-gray-100 px-0.5 py-0.5 border rounded font-mono;

    overflow-x: auto;
  }

  .article pre > code {
    @apply p-4;

    display: block;
  }
}
