@import "./anchor.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components {
  ol.search-hits > li::marker {
    @apply text-xl text-gray-500;
  }

  .article {
    @apply leading-relaxed;
  }

  .article > *:first-child {
    @apply mt-4;
  }

  .article strong {
    @apply font-semibold;
  }

  .article p {
    @apply text-lg;
  }

  .article p {
    @apply my-4;
  }

  .article ol {
    @apply ml-8;
  }

  .article ol {
    list-style-type: decimal;
  }

  .article ol > li {
    @apply my-2;
  }

  .article blockquote {
    @apply my-6 sm:ml-3 pl-3 border-l-2 border-gray-200 text-gray-500 italic;
  }

  .article blockquote p {
    @apply text-xl;
  }
}
